<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentación de la ruta /login</title>
</head>
<style>
   body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
code {
  display: block;
  background-color: #f5f5f5;
  padding: 10px;
  font-family: Consolas, monospace;
  margin-bottom: 10px;
}
ul {
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 20px;
}
li {
  margin-bottom: 5px;
}
</style>

<body>

<h1>API Lotes - Ruta /login</h1>
<h2>Iniciar sesión</h2>
<p><strong>URL:</strong> /login</p>
<p><strong>Método:</strong> POST</p>
<p><strong>Parámetros:</strong></p>
<ul>
  <li><strong>user</strong> (opcional): Nombre de usuario.</li>
  <li><strong>password</strong> (requerido): Contraseña del usuario.</li>
</ul>
<p><strong>Respuesta:</strong> Devuelve el resultado de la autenticación en formato JSON.</p>
<h3>Ejemplo de solicitud:</h3>
<code>
  POST /login<br>
  {<br>
  &nbsp;&nbsp;"user": "john_doe",<br>
  &nbsp;&nbsp;"password": "password123"<br>
  }
</code>
<h3>Ejemplo de respuesta exitosa:</h3>
<code>
  {<br>
  &nbsp;&nbsp;"message": "Autenticación exitosa",<br>
  &nbsp;&nbsp;"token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxMjM0NTY3ODkwLCJpYXQiOjE2MzEyMjM2OTEsImV4cCI6MTYzMzA0ODg5MX0.2g1aEgzmZVuH3TlQ7FsUKAY2rOo7lrlMfiwTkSpnH2I"<br>
  }
</code>
<h3>Ejemplo de respuesta de error:</h3>
<code>
  {<br>
  &nbsp;&nbsp;"message": "Error al colocar los datos. Debes mandar 'user' y 'password' como parámetros"<br>
  }

</code>
<h2>Autentificacion de usuario</h2>
<p><strong>URL:</strong> /getUser</p>
<p><strong>Método:</strong> GET</p>
<p><strong>Respuesta:</strong> Verifica existencia del usuario ingresado.</p>
</code>
<h3>Ejemplo de respuesta exitosa:</h3>
<code>
  {<br>
  &nbsp;&nbsp;Muestra de datos importantes del usuario<br>
  }
</code>
<h3>Ejemplo de respuesta de error:</h3>
<code>
  {<br>
  &nbsp;&nbsp;"message": "Usuario no autenticado"<br>
  }

</code>
<h2>Autentificacion del tipo de trabajador</h2>
<p><strong>URL:</strong> /getWorker</p>
<p><strong>Método:</strong> GET</p>
<p><strong>Respuesta:</strong> Verifica existencia del tipo de trabajador ingresado.</p>
</code>
<h3>Ejemplo de respuesta exitosa:</h3>
<code>
  {<br>
  &nbsp;&nbsp;"message": "exito"<br>
  }

</code>
<h2>Autentificacion de presencia de administrador</h2>
<p><strong>URL:</strong> /getAdmin</p>
<p><strong>Método:</strong> GET</p>
<p><strong>Respuesta:</strong> Verifica que el usuario ingresado sea de tipo administrador.</p>
</code>
<h3>Ejemplo de respuesta exitosa:</h3>
<code>
  {<br>
  &nbsp;&nbsp;"message": "exito"<br>
  }

</code>
</body>
</html>
